<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EWebApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/EWebApp.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Production" asp-action="Index"><img src="~/Images/bird_2.jpg" width="50"/>EWebApp</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Production" asp-action="Index"><i class="bi bi-house-door"></i>Home</a>
                        </li>

                        @if (User.Identity.IsAuthenticated && User.IsInRole("admin"))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" type="button" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                                   aria-expanded="false">
                                    <i class="bi bi-shop"></i>Products
                                </a>


                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" asp-action="index" asp-controller="Appliances"><i class="bi bi-tools"></i>Appliances</a> </li>
                                    <li> <a class="dropdown-item" asp-action="index" asp-controller="Clothing"><i class="bi bi-person-standing-dress"></i>Clothing</a></li>
                                    <li> <a class="dropdown-item" asp-action="index" asp-controller="Furniture"><i class="bi bi-buildings"></i>Furniture</a></li>
                                    <li> <a class="dropdown-item" asp-action="index" asp-controller="Kitchen"><i class="bi bi-bucket-fill"></i>Kitchen</a></li>


                                </ul>
                            </li>
                        }
                       
                    </ul>

                    <form class="form-inline my-2 my-lg-0 d-flex" asp-controller="Production" asp-action="Filter" style="padding-right: 100px;">
                        <input name="searchString" type="text" class="form-control mr-sm-2" aria-label="Search"  placeholder="Search for a Products...."/>
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="bi bi-search"></i></button>
                    </form>

                    <ul class="navbar-nav">
                        @await Component.InvokeAsync("ShoppingCartSummary")
                    </ul>

                   @*  <ul class="navbab-nav">
                        @await Html.RenderPartialAsync("_Identity")

                    </ul> *@
                    <partial name="_Identity.cshtml"></partial>

                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - EWebApp 
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html> 
